<%= form_for(@geoloc) do |f| %>
  <% if @geoloc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@geoloc.errors.count, "error") %> prohibited this geoloc from being saved:</h2>

      <ul>
      <% @geoloc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.number_field :zip %>
  </div>
  <div class="field">
    <%= f.label :g_lat %><br>
    <%= f.text_field :g_lat %>
  </div>
  <div class="field">
    <%= f.label :g_lon %><br>
    <%= f.text_field :g_lon %>
  </div>
  <div class="field">
    <%= f.label :g_side %><br>
    <%= f.text_field :g_side %>
  </div>
  <div class="field">
    <%= f.label :g_type %><br>
    <%= f.text_field :g_type %>
  </div>
  <div class="field">
    <%= f.label :g_side %><br>
    <%= f.text_field :g_side %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
