<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @geoloc.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @geoloc.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @geoloc.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @geoloc.zip %>
</p>

<p>
  <strong>G lat:</strong>
  <%= @geoloc.g_lat %>
</p>

<p>
  <strong>G lon:</strong>
  <%= @geoloc.g_lon %>
</p>

<p>
  <strong>G side:</strong>
  <%= @geoloc.g_side %>
</p>

<p>
  <strong>G type:</strong>
  <%= @geoloc.g_type %>
</p>

<p>
  <strong>G side:</strong>
  <%= @geoloc.g_side %>
</p>

<%= link_to 'Edit', edit_geoloc_path(@geoloc) %> |
<%= link_to 'Back', geolocs_path %>
