

<main class="cd-main">
  <section class="cd-section geolocs visible">
    <header>
      <div class="cd-title">
          <h2>Santa Cruz County Map</h2>
      </div>
      <div class="cd-scroll"></div>
    </header>


      <div class="cd-content" id="home-content">
        <div class="box homebox">
          <p>


<%= form_tag geolocs_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= button_tag "Search",:type => 'search', :name => nil %>
  </p>
   
<% end %>
    <h1>Listing Geolocs</h1>

    <table>
      <thead>
        <tr>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Zip</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @geolocs.each do |geoloc| %>
          <tr>
            <td><%= geoloc.latitude %></td>
            <td><%= geoloc.longitude %></td>
            <td><%= geoloc.address %></td>
            <td><%= geoloc.city %></td>
            <td><%= geoloc.state %></td>
            <td><%= geoloc.zip %></td>
            <td><%= link_to 'Show', geoloc %></td>
            <td><%= link_to 'Edit', edit_geoloc_path(geoloc) %></td>
            <td><%= link_to 'Destroy', geoloc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @geoloc %>
    <br>

    <%= link_to 'New Geoloc', new_geoloc_path %>

      <!-- Map Container -->
      <div style='width: 800px;'>
      <div id="map" style='width: 800px; height: 400px;'></div>
      </div>

       <!-- Javascript that creates Map -->
      <script type="text/javascript">
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
      </script>


          </p>
        </div>
      </div> <!-- .cd-content -->
    </section> <!-- .cd-section -->
  </main> <!-- .cd-main -->
  <div id="cd-loading-bar" data-scale="1" class="geolocs"></div> <!-- lateral loading bar -->




