<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
  	<%= javascript_include_tag    'defaults', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
  	<%= Gon::Base.render_data %>
  	<script src="/assets/modernizr.js"></script> <!-- Modernizr -->
  	<script src="/assets/jquery-2.1.4.js"></script>
	<script src="/assets/velocity.min.js"></script>
	<script src="/assets/main.js"></script> <!-- Resource jQuery -->
	<script src="/assets/map.js"></script>
	
</head>
<body>
	
       <div>
         <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
           <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
             <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
             <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
             <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
         <% end %>
         </div>	
		 
		         <% if notice %>
             <p class="alert alert-success"><%= notice %></p>
         <% end %>
         <% if alert %>
             <p class="alert alert-danger"><%= alert %></p>
         <% end %>
<nav class="cd-side-navigation">
	<ul>
		<li class="<%= 'selected' if current_page?(root_path) %>">
	
				<%= link_to root_path, data: {menu: "welcome"} do %>
					<%= image_tag "home.svg" %>
					<br>Home
				<% end %>

		</li>	
					
		<li class="<%= 'selected' if current_page?(contact_path) %>">
		
				<%= link_to contact_path, data: {menu: "contact"} do %>
					<%= image_tag "contact.svg" %>
					<br>Contact
				<% end %>

		</li>

		<li class="<%= 'selected' if current_page?(geolocs_path) %>">
		
				<%= link_to geolocs_path, data: {menu: "geolocs"} do %>
					<%= image_tag "map.svg" %>
					<br>Maps
				<% end %>

		</li>

		<li class="<%= 'selected' if current_page?(graph_path) %>">

				<%= link_to graph_path, data: {menu: "graph"} do %>
					<%= image_tag "map.svg" %>
					<br>Graphs
				<% end %>

		</li>
	
	</ul>
</nav>

<%= yield %>


</body>
</html>
