<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
  	<%= Gon::Base.render_data %>
  	<script src="/assets/modernizr.js"></script> <!-- Modernizr -->
  	<script src="/assets/jquery-2.1.4.js"></script>
	<script src="/assets/velocity.min.js"></script>
	<script src="/assets/main.js"></script> <!-- Resource jQuery -->
	<script src="/assets/map.js"></script>
</head>
<body>
	
<nav class="cd-side-navigation">
	<ul>
		<li class="<%= 'selected' if current_page?(root_path) %>">
	
				<%= link_to root_path, data: {menu: "welcome"} do %>
					<%= image_tag "home.svg" %>
				<% end %>

		</li>	
					
		<li class="<%= 'selected' if current_page?(contact_path) %>">
		
				<%= link_to contact_path, data: {menu: "contact"} do %>
					<%= image_tag "contact.svg" %>
				<% end %>

		</li>

		<li class="<%= 'selected' if current_page?(geolocs_path) %>">
		
				<%= link_to geolocs_path, data: {menu: "geolocs"} do %>
					<%= image_tag "map.svg" %>
				<% end %>

		</li>

		<li class="<%= 'selected' if current_page?(graph_path) %>">

				<%= link_to graph_path, data: {menu: "graph"} do %>
					<%= image_tag "map.svg" %>
				<% end %>

		</li>
	
	</ul>
</nav>

<%= yield %>


</body>
</html>
