<!DOCTYPE html>

<html>
<head>
	<title>Santa Cruz Housing Project | CMPS 183</title>

	<meta charset="utf-8">
	<meta name="author" content="Bryant Ng, Kyle Casil, Kyle Fong, and Paul Chen">
	<meta name="author" content="Nails, Brown-Skin, Coal-Tender, and Stage Hand #2">
	<meta name="description" content="In sponsorship with Working with Dignity, our team hasn't created anything yet. Just wait on it..">	
</head>
 <div>
      					<li><%= link_to "Home", root_path %>
      						<%= link_to "About", about_path %>
      						<%= link_to "Contact", contact_path %>
      					    <%= link_to "Team", team_path %></li>
                </div>
  <%= yield %>

</html>
